Repository LiuCaptain/Monorepo-Turbo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.yaml:

{
  '*.vue': ['prettier --write', 'eslint --fix'],
  '*.{js,jsx}': ['prettier --write', 'eslint --fix'],
  '*.{ts,tsx}': ['prettier --write', 'eslint --fix'],
  '*.{css,less,scss}': ['prettier --write', 'stylelint --fix'],
  '*.{html}': ['prettier --write'],
  '*.{md,json}': ['prettier --write']
}

chore(monorepo 整体配置): :hammer: 配置commitlint、commitizen、cz-git
  .husky/commit-msg
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(monorepo 整体配置): :hammer: 修改 commitlint、cz-git 的配置
  .husky/commit-msg
  .lintstagedrc.yaml
  commitlint.config.cjs
  package.json
Due: prettier --write

chore(monorepo 整体配置): :hammer: 将所有依赖更新到最新版本
  package.json
  packages/projects/react-project/package.json
  packages/projects/vue-project/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(monorepo 整体配置): :hammer: 配置 stylelint 的规则和 prettierrc
  .prettierignore
  .prettierrc
  .stylelintrc.json
  package.json
  packages/projects/react-project/src/App.css
  packages/projects/vue-project/src/assets/main.css
  pnpm-lock.yaml
Due: prettier --write, stylelint --fix

chore(monorepo 整体配置): :hammer: 删除无用的 .gitignore 文件
  .gitignore
  packages/projects/react-project/.gitignore
  packages/projects/vue-project/.gitignore
  packages/projects/vue-project/.prettierrc.json
Due: prettier --write

chore(monorepo 整体配置): :hammer: 更新项目依赖
  packages/projects/vue-project/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(monorepo 整体配置): :hammer: 添加 editorconfig 文件
  .editorconfig
Due: none

chore(monorepo 整体配置): :hammer: 删除根目录下的 tsconfig.json
  tsconfig.json
Due: prettier --write
